
<div>
  <h1>User info</h1>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p>name<%= @user.name %></p>
  <p>introduction<%= @user.introduction %></p>

  <% if @user == current_user %>
    <%= link_to "Edit", edit_user_path(@user.id) %>
  <% end %>

</div>

<% @books.each do |book| %>
  <%= image_tag @user.get_profile_image(100,100) %>
  <%= link_to book_path(book.id) do %>
      <%= book.title %></p>
  <% end %>
  <p><%= book.body %></p>
<% end %>